
<div class="jumbotron text-center">
    <h2>PAGE ONE: Home page / Simple search page</h2>
    <p>Our UX designer has come up wit  h the mock-up of this page:</p> 
</div> 
  
<div class="container">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-5"><input type="text" class="form-control" id="usr"></div>
        <div class="col-sm-4"><button type="button" class="btn btn-primary">Search</button></div>
    </div>

    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <div class="checkbox">                
                <span> Gender</span>                      
                <label><input type="checkbox" value="Male">Male</label>
                <label><input type="checkbox" value="Female">Female</label>                    
            </div>
        </div>
        <div class="col-sm-4">
                <button type="button" class="btn btn-link">Advance Search</button>
        </div>
    </div>


    <div class="container">
        <div class="row">
                <div class="col-sm-11">
                    <span>Results:</span> 
                </div>           
        </div> 
    
        <div class="table-responsive">          
            
            <table class="table table-bordered">
                <thead>
        
                    <tr style="background-color:greenyellow">
                        <th>ID</th>
                        <th>NAME</th>
                        <th>GENDER</th>
                        <th>BIRTH PLACE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Anna</td>
                        <td>Pitt</td>
                        <td>35</td>
                    </tr>
                </tbody>
            </table>
        </div>        
    </div>           
</div>
