
<div [formGroup]="this">
    <div class="jumbotron text-center">
        <h2>PAGE ONE: Home page / Simple search page</h2>
        <p>Our UX designer has come up wit  h the mock-up of this page:</p> 
    </div> 
    
    <div class="container">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-5">
                <input type="text" class="form-control" formControlName="name">
            </div>
            <div class="col-sm-4"><button type="button" class="btn btn-primary"  (click)="searchFn('Simple')" >Search({{this.get('type').value}})</button></div>
        </div>

        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <div class="checkbox">                
                    <span> Gender</span>                      
                    <label><input type="checkbox" formControlName="male"  (click)="genderClickFn(this.get('male'),this.get('female'))" >Male</label>
                    <label><input type="checkbox" formControlName="female" (click)="genderClickFn(this.get('female'),this.get('male'))"  >Female</label>                 
                </div>
            </div>
            <div class="col-sm-4">
                    <button (click)="searchtypetoggleFn()" type="button" class="btn btn-link">{{searchtitleFn(this.get('type').value)}}</button>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-5">
                <div class="radio">                
                    <span>Direction</span>                      
                    <label><input  [checked]="getdirectionFn('ancestors')" (click)="directionClickFn(this.get('direction'),'ancestors')" type="radio" value="ancestors" formControlName="direction" >Ancestors</label>
                    <label><input  [checked]="getdirectionFn('descendents')" (click)="directionClickFn(this.get('direction'),'descendents')"  type="radio" value="descendents" formControlName="direction" >Descendents</label>                 
       
                </div>
            </div>
            <div class="col-sm-3">
            </div>
        </div>

        <div class="container">
            <div class="row">
                    <div class="col-sm-11">
                        <span>Results:</span> 
                    </div>           
            </div> 
        
            <div class="table-responsive">                              
                <table class="table table-bordered">
                    <thead>                
                        <tr style="background-color:greenyellow">
                            <th>ID</th>
                            <th>NAME</th>
                            <th>GENDER</th>
                            <th>BIRTH PLACE</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container formArrayName="results">
                            <ng-container *ngFor="let result of this.get('results').controls;let i=index" [formGroupName]="i">
                                <tr>
                                    <td>{{result.get('id').value}}</td>
                                    <td>{{result.get('name').value}}</td>
                                    <td>{{getgender(result.get('gender').value)}}</td>
                                    <td>{{result.get('birthplace').value}}</td>       
                                </tr>
                            </ng-container>
                        </ng-container>
                    </tbody>
                </table>
            </div>        
        </div>           
    </div>
</div>